<form id="form-place" action="#">
    <fieldset>
        <legend>Add Comment</legend>

        <div class="control-group" id="control-group-name">
            <label class="control-label" for="name">Text</label>
            <div class="controls">
                <input id="text" type="text" class="input-medium">
            </div>
        </div>

        <div class="control-group" id="control-group-name">
            <label class="control-label" for="name">ParentName (debug)</label>
            <div class="controls">
                <input id="parentName" type="text" class="input-medium" value="<%= parentName %>">
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" id="save">Save</button>
        </div>

    </fieldset>
</form>