<form class="form-horizontal">
    <div class="control-group" id="control-group-userName">
        <label class="control-label" for="userName">User name</label>
        <div class="controls">
            <input id="userName" type="text" class="input-small" placeholder="<%= userName %>">
        </div>
    </div>

    <div class="control-group" id="control-group-text">
        <label class="control-label" for="userName">Comment</label>
        <div class="controls">
            <textarea id="text" rows="2" placeholder="<%= text %>"></textarea>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary" id="save">Save</button>
        <button type="submit" class="btn" id="cancel">Cancel</button>
    </div>
</form>