<div class="event-cost">
	<i class="icon-heart"></i>
	<i class="icon-heart"></i>
	<i class="icon-heart"></i>
	<i class="icon-heart"></i><br>
	<a href="#" id="btn-vote-event" class="btn btn-mini btn-link" data-toggle="popover" data-placement="top" data-content="lqkmsj lmkdj fmlkj mlklqkj mk qsdf" title data-original-title="Hello World!">Vote</a>
</div>

<div id="event-info">
	<span class="label label-info"><%= name %></span><br>
	<i class="icon-tag"></i> Prix : <strong><%= price %> &euro;</strong><br>
	<i class="icon-music"></i> Son : <strong><%= label %></strong><br>
	<button class="btn btn-mini btn-link" id="btn-edit-event">Edit event</button>
</div>
