		<div class="navbar-inner">
			<div class="container">
				
				<!-- button when collapsed -->
				<button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
	
				<!-- Nav no collapse -->
				<a id="home" class="brand" href="#">
					Nite!Live
				</a>
				
				<!-- collapsable menu -->
				<div class="nav-collapse collapse">				
					<ul class="nav">
						<li><a href="#"><img src="img/troll.png" style="width: 20px; height: 20px"></a></li>
						
						<!--
						<li class="dropdown">
							
							
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								More
								<b class="caret"></b>
							</a>
							
							<ul class="dropdown-menu">
								<li><a href="#">Settings</a></li>
								<li><a href="#">Privacy</a></li>
							</ul>

						</li>
						-->

						<!--<li><a href="#">About</a></li>-->

					</ul>
				</div>

		   </div>
		</div>