<form>
    <div class="control-group" id="control-group-beer">
        <label class="control-label" for="beer">Beer price</label>
        <div class="controls">
            <input id="beerPrice" type="text" class="input-mini" value="<%= beerPrice %>">
        </div>
    </div>

    <div class="control-group" id="control-group-cocktail">
        <label class="control-label" for="cocktail">Cocktail price</label>
        <div class="controls">
            <input id="cocktailPrice" type="text" class="input-mini" value="<%= cocktailPrice %>">
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-mini" id="save">OK</button>
    </div>
</form>